vendor/
target/
!examples/fastroute/vendor/
!examples/composer/vendor/
!examples/http-foundation/vendor/
!examples/doctrine-inflector/vendor/
!crates/phpun-core/tests/fixtures/composer_autoload/vendor/
